@font-face {
  font-family: Maax;
  src: url("public/fonts/maax-md.woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Maax;
  src: url("public/fonts/maax-mono-md-it.woff");
  font-weight: 500;
  font-style: italic;
}

:root {
  --1: #dd1c1aff;
  --2: #41bbd9ff;
  --3: #ffc145ff;
  --4: #139a43ff;
  --5: #8a1c7cff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Maax;
  font-weight: 500;
}

.link,
.nav-link {
  cursor: pointer;
  display: block;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

p {
  margin-bottom: 1.3rem;
}

.tab {
  margin-left: 8vw;
}
a {
  text-decoration: none !important;
  color: black !important;
}
a:hover {
  text-decoration: none !important;
  color: black !important;
  font-style: italic;
}

#text-content a::before {
  content: "→" !important;
  color: var(--1);
  margin-right: 3px;
}

.content-grid {
  inset: 0;
  display: grid;
  grid-template-areas:
    "title menu"
    "content menu"
    "content imprint";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content 1fr min-content;
  gap: 10px;
  padding: 10px;
}

.section.left {
  left: 0;
  grid-area: content;
  font-size: 1.6rem;
}

#text-content {
  padding-top: 1rem;
  padding-bottom: 4rem;
}

#glyph-canvas {
  position: fixed;
  inset: 0;
  pointer-events: none;
}

.random-glyph {
  font-size: 4.3vw;
  position: absolute;
}

.header {
  font-size: 4.3vw;
  position: sticky;
  top: 10px;
  line-height: 4vw;
  height: min-content;
  transition: line-height 350ms ease-out, margin-top 350ms ease-out,
    top 350ms ease-out;
}

.header.title {
  grid-area: title;
}

.header.menu {
  grid-area: menu;
  margin-top: 0;
  top: 10px;
}

.nav-link {
  display: block;
  cursor: pointer;
  transition: color 150ms ease-out;
}

.header.menu.stacked {
  line-height: 0px;
  height: 4vw;
  margin-top: 2vw;
  top: calc(2vw + 10px);
  transition: line-height 350ms ease-out, margin-top 350ms ease-out,
    top 350ms ease-out;
}

.header.menu.stacked div {
  margin-bottom: 1vw;
}

.header.menu div {
  margin-bottom: 0px !important;
}

#about-link.active {
  color: var(--4);
}

#member-link.active {
  color: var(--2);
}
#language-toggle.active {
  color: var(--3);
}

@media (min-width: 1000px) {
  #about-link:hover {
    color: var(--4);
  }

  #member-link:hover {
    color: var(--2);
  }
  #language-toggle:hover {
    color: var(--3);
  }
}

#arrow {
  position: absolute;
  left: 40vw;
  top: 2.5vw;
}

.imprint-container {
  grid-area: imprint;
  position: fixed;
  bottom: 0;
  padding: 10px;
  left: 50vw;
}

@media (max-width: 999px) {
  .content-grid {
    min-height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content 1fr min-content;
    grid-template-areas:
      "title"
      "menu"
      "content"
      "imprint";
  }

  .header {
    font-size: 8vw !important;
    line-height: 8vw !important;
    height: auto !important;
  }
  .random-glyph {
    font-size: 8vw !important;
    position: absolute;
  }

  .header.menu {
    margin-bottom: 2vw;
  }

  .header.menu.stacked {
    line-height: 0vw !important;
    height: 8vw;
    margin-top: 4vw;
    padding-top: 10px;
    top: 4vw !important;
  }
  .header.menu {
    margin-bottom: 4vw;
  }

  .header.menu.stacked div {
    margin-bottom: 1vw;
  }

  .header.menu div {
    margin-bottom: 0px !important;
  }

  #arrow {
    position: absolute;
    left: 65vw;
    top: 2vw;
  }

  .imprint-container {
    grid-area: imprint;
    position: relative;
    padding: 0px;
    left: inherit;
  }
}
