@font-face {
  font-family: Maax;
  src: url("public/fonts/maax-mono-rg.woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Maax;
  src: url("public/fonts/maax-mono-rg-it.woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: Maax;
  src: url("public/fonts/maax-mono-md.woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Maax;
  src: url("public/fonts/maax-mono-md-it.woff");
  font-weight: 500;
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Maax;
  font-weight: 500;
  display: grid;
  grid-template-areas:
    "title menu"
    "content menu";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content 1fr;
  gap: 10px;
  padding: 10px;
}

@media (max-width: 1000px) {
  body {
    grid-template-areas:
      "title"
      "menu"
      "content";
  }
}

.section.left {
  left: 0;
  grid-area: content;
  font-size: 2rem;
}

.section.right {
  right: 0;
}

.header {
  font-size: 4.3vw;
  position: sticky;
  top: 0;
  line-height: 5vw;
}

.header.title {
  grid-area: title;
}

.header.menu {
  grid-area: menu;
}

.nav-link {
}
