* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

@media (max-width: 999px) {
    html {
        font-size: 80%;
    }
}

body {
    font-family: Maax, sans-serif;
    font-weight: 500;
}

p {
    /* margin-bottom: 1.3rem; */
}

ul {
    -webkit-padding-start: 40px;
    padding-inline-start: 40px;
}

a {
    text-decoration: none !important;
    color: black;
}

a:hover {
    text-decoration: none !important;
    color: black;
    font-style: italic;
}

.link,
a.nav-link {
    cursor: pointer !important;
    display: block;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    -moz-user-select: none;
    user-select: none; /* Standard syntax */
}

.header a.nav-link:hover,
.title.link:hover {
    font-style: normal;
}

#text-content a:hover {
    letter-spacing: -0.0035rem;
}

#text-content a {
    display: inline-block;
    position: relative;
    z-index: 10;
}

#text-content a::after {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1px;
    content: "";
    display: block;
    height: 3px;
    border-radius: 100px;
    background-color: black;
}

@media (max-width: 999px) {
    #text-content a::after {
        height: 2px;
    }
}

#text-content.imprint,
#text-content.privacy {
    font-size: var(--font-size-sm);
    line-height: var(--font-size-sm);
}

.content-grid {
    inset: 0;
    display: -ms-grid;
    display: grid;
    grid-template-areas:
    "title menu"
    "content menu"
    "content imprint";
    -ms-grid-columns: 1fr 10px 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: -webkit-min-content 10px 1fr 10px -webkit-min-content;
    grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
    -ms-grid-rows: min-content 10px 1fr 10px min-content;
    grid-template-rows: min-content 1fr min-content;
    gap: 20px;
    padding: 24px;
}

.section.left {
    -ms-grid-row: 3;
    -ms-grid-row-span: 3;
    -ms-grid-column: 1;
    left: 0;
    grid-area: content;
    font-size: var(--font-size-md);
    line-height: 130%;
}

@media (min-width: 1000px) {
    #text-content {
        padding-top: 1rem;
        padding-bottom: 4rem;
        padding-left: 4px;
    }
}

#glyph-canvas {
    position: fixed;
    inset: 0;
    pointer-events: none;
}

.random-glyph {
    font-size: 4.3vw;
    position: absolute;
}

.header-wrapper {
    display: contents;
}

.header {
    font-size: 4.8vw;
    letter-spacing: -3px;
    position: sticky;
    line-height: 4.2vw;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
}

.header.title {
    grid-area: title;
    top: var(--headerTopMargin);
}

.header.menu {
    grid-area: menu;
    margin-top: 0;
    top: var(--headerTopMargin);
}

.header.menu.stacked a {
    margin-bottom: 1vw;
    top: 0 !important;
    -webkit-transition: top 350ms ease-out, color 150ms ease-out;
    -o-transition: top 350ms ease-out, color 150ms ease-out;
    transition: top 350ms ease-out, color 150ms ease-out;
}

.header.menu a {
    width: 100%;
    position: absolute;
    -webkit-transition: top 350ms ease-out, color 150ms ease-out;
    -o-transition: top 350ms ease-out, color 150ms ease-out;
    transition: top 350ms ease-out, color 150ms ease-out;
}

.header.menu .second-line {
    margin-left: 0;
    display: inline-block;
    line-height: var(--header-lineHeight);
    position: relative;
    left: 0;
    pointer-events: none;
}

@media (min-width: 999px) {
    .header.menu .second-line {
        display: block;
        margin-left: 4vw;
        pointer-events: none;
    }


    .header.menu.stacked .second-line {
        -webkit-transform: translateY(0vw);
        -ms-transform: translateY(0vw);
        transform: translateY(0vw);
        position: absolute;
        display: inline;
    }

    .header.menu a:nth-child(1) {
        top: 0;
    }

    .header.menu a:nth-child(2) {
        top: var(--header-lineHeight);
    }

    .header.menu a:nth-child(3) {
        top: calc(var(--header-lineHeight) * 3);
    }

    #language-toggle-mobile {
        display: none;
    }
}

.nav-link {
    display: block;
    cursor: pointer;
    -webkit-transition: color 150ms ease-out;
    -o-transition: color 150ms ease-out;
    transition: color 150ms ease-out;
    position: relative;
    z-index: 0;
}

.nav-link.active {
    z-index: 10;
}

#about-link.active {
    color: var(--0) !important;
}

#join-link.active {
    color: var(--1) !important;
}

#members-link.active {
    color: var(--2) !important;
}

@media (min-width: 1000px) {
    #about-link:hover {
        color: var(--0);
    }

    #join-link:hover {
        color: var(--1);
    }

    #members-link:hover {
        color: var(--2);
    }
}

.stacked .arrow {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
    -webkit-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}

.arrow {
    display: none;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position: absolute;
    left: 32vw;
    top: 2.5vw;
    -webkit-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}

@media (max-width: 999px) {
    .arrow {
        left: 60vw;
        top: calc(var(--line-height-mobile-nav) / 2);
    }
}

.imprint-container {
    -ms-grid-row: 5;
    -ms-grid-column: 3;
    grid-area: imprint;
    position: fixed;
    bottom: 0;
    padding: 10px;
    margin-bottom: 20px;
    left: 50vw;
    font-size: var(--font-size-sm);
    line-height: var(--font-size-md);
}

#header-text-container {
    position: fixed;
    inset: 29px;
    padding: 0 6.3vw;
    font-size: var(--font-size-xs);
    line-height: 110%;
    text-align: center;
    pointer-events: none;
}

#header-text-container-mobile {
    display: none;
    margin-bottom: 10px;
}

@media (max-width: 999px) {
    .imprint-container {
        margin-bottom: 0px;
        margin-top: 30px;
    }

    #header-text-container {
        display: none;
    }

    .home #header-text-container-mobile {
        display: block;
    }

    #language-toggle-desktop {
        display: none;
    }
}

#schnittmarken-canvas {
    position: fixed;
    inset: 0;
    pointer-events: none;
}

#schnittmarken-canvas div {
    position: absolute;
    background-color: black;
}

.hor {
    width: 10px;
    height: 1px;
}

.ver {
    width: 1px;
    height: 10px;
}

.top-left-1 {
    top: 20px;
    left: 0;
}

.top-left-2 {
    top: 0px;
    left: 20px;
}

.top-right-1 {
    top: 20px;
    right: 0;
}

.top-right-2 {
    top: 0px;
    right: 20px;
}

.bottom-left-1 {
    bottom: 20px;
    left: 0;
}

.bottom-left-2 {
    bottom: 0px;
    left: 20px;
}

.bottom-right-1 {
    bottom: 20px;
    right: 0;
}

.bottom-right-2 {
    bottom: 0px;
    right: 20px;
}

@media (max-width: 999px) {
    .content-grid {
        min-height: 100dvh;
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        -ms-grid-rows: -webkit-min-content -webkit-min-content 1fr -webkit-min-content;
        grid-template-rows: -webkit-min-content -webkit-min-content 1fr -webkit-min-content;
        -ms-grid-rows: min-content min-content 1fr min-content;
        grid-template-rows: min-content min-content 1fr min-content;
        grid-template-areas:
      "title"
      "menu"
      "content"
      "imprint";
        padding: 14px;
        gap: 0;
    }

    .header-wrapper {
        display: block;
        background-color: white;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        padding: 14px;
        z-index: 200;
    }

    .header {
        font-size: var(--font-size-mobile-nav) !important;
        line-height: var(--line-height-mobile-nav) !important;
        letter-spacing: -1px;
        text-align: center;
    }

    .random-glyph {
        font-size: var(--font-size-mobile-nav) !important;
        position: absolute;
    }

    .header.menu {
        margin-bottom: 2vw;
        padding-top: 0;
        margin-top: 0;

        -webkit-transition: -webkit-transform 350ms ease-out;
        transition: -webkit-transform 350ms ease-out;
        -o-transition: transform 350ms ease-out;
        transition: transform 350ms ease-out, -webkit-transform 350ms ease-out, margin-top 350ms ease-out;
    }

    .header.menu.stacked {
        height: var(--line-height-mobile-nav);
        margin-top: calc(var(--line-height-mobile-nav) * -1);
        padding-bottom: calc(var(--line-height-mobile-nav) + 14px);
    }

    .header.menu a {
        position: relative;
        top: 0 !important;
        -webkit-transition: -webkit-transform 350ms ease-out;
        transition: -webkit-transform 350ms ease-out;
        -o-transition: transform 350ms ease-out;
        transition: transform 350ms ease-out, -webkit-transform 350ms ease-out;
    }

    .header.menu {
        margin-bottom: calc(var(--line-height-mobile-nav) / 2);
    }

    .header.menu.stacked a {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
        -webkit-transition: transform 350ms ease-out;
        -o-transition: transform 350ms ease-out;
        transition: transform 350ms ease-out;
    }

    .header.menu a {
        margin-bottom: 0px !important;
    }

    .header.menu.stacked a:nth-child(1) {
        top: 0;
    }

    .header.menu.stacked a:nth-child(1).active {
        -webkit-transform: translateY(var(--line-height-mobile-nav));
        -ms-transform: translateY(var(--line-height-mobile-nav));
        transform: translateY(var(--line-height-mobile-nav));
    }

    .header.menu.stacked a:nth-child(2) {
        -webkit-transform: translateY(calc(var(--line-height-mobile-nav) * -1));
        -ms-transform: translateY(calc(var(--line-height-mobile-nav) * -1));
        transform: translateY(calc(var(--line-height-mobile-nav) * -1));
    }

    .header.menu.stacked a:nth-child(2).active {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }

    .header.menu.stacked a:nth-child(3) {
        -webkit-transform: translateY(calc(var(--line-height-mobile-nav) * -2));
        -ms-transform: translateY(calc(var(--line-height-mobile-nav) * -2));
        transform: translateY(calc(var(--line-height-mobile-nav) * -2));
    }

    .header.menu.stacked a:nth-child(3).active {
        -webkit-transform: translateY(calc(var(--line-height-mobile-nav) * -1));
        -ms-transform: translateY(calc(var(--line-height-mobile-nav) * -1));
        transform: translateY(calc(var(--line-height-mobile-nav) * -1));
    }

    .header.menu.stacked a:nth-child(4) {
        -webkit-transform: translateY(calc(var(--line-height-mobile-nav) * -3));
        -ms-transform: translateY(calc(var(--line-height-mobile-nav) * -3));
        transform: translateY(calc(var(--line-height-mobile-nav) * -3));
    }

    .header.menu.stacked a:nth-child(4).active {
        -webkit-transform: translateY(calc(var(--line-height-mobile-nav) * -2));
        -ms-transform: translateY(calc(var(--line-height-mobile-nav) * -2));
        transform: translateY(calc(var(--line-height-mobile-nav) * -2));
    }

    #arrow {
        position: absolute;
        left: 65vw;
        top: 2vw;
    }

    .imprint-container {
        -ms-grid-row: 5;
        -ms-grid-column: 3;
        grid-area: imprint;
        position: relative;
        padding: 0px;
        left: inherit;
    }

    .imprint-container {
        -ms-grid-row: 4;
        -ms-grid-column: 1;
    }

    .section.left {
        -ms-grid-row: 3;
        -ms-grid-row-span: 1;
        -ms-grid-column: 1;
    }

    .header.title {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }

    .header.menu {
        -ms-grid-row: 2;
        -ms-grid-row-span: 1;
        -ms-grid-column: 1;
    }

    .imprint-container {
        -ms-grid-row: 4;
        -ms-grid-column: 1;
    }

    .secondary-links {
        display: flex;
        gap: 10px;
    }

    .secondary-links a::after {
        content: "";
        display: block;
        height: 2px;
        border-radius: 100px;
        background-color: black;
    }

    #text-content {
        margin-top: calc(var(--line-height-mobile-nav) * 6);
    }
}

.italic-loader {
    font-style: italic;
    color: transparent;
    pointer-events: none;
    position: absolute;
    bottom: 0;
}
